
@import "tailwindcss";

@font-face {
    font-family: font300;
    src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font500;
    src: url(../public/fonts/Lausanne-500.woff2);
}

body{
    background-color: rgb(214, 214, 214);
    overflow-x: hidden;
}

.moveX{
    animation-name: moveAnimation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.moveY{
    animation-name: moveAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.moveLink{
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.link:hover .moveLink{
    opacity: 1;
}
@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes moveAnimationReverse {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}